/* Almost Large Screen ( Mobile Devices ) */
@media only screen and (max-width: 970px) and (min-width: 850px) {
    .index-flex{
        height: 250px;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        text-align: center;
    }

    .avatar-flex-item{
        display: flex;
        flex-direction: column;
    }

    .avatar-title{
        display: none;
    }

    .avatar-title-hidden{
        margin-top: 3%;
        width: auto;
        display:flex;
        flex-direction: row;
    }
    
    .avatar{
        height: 190px;
        width: 190px;
        border-radius: 10px;
        box-shadow:  0 7px 10px 2px rgba(0, 0, 0, 0.8);
    } 

    /* Alternate Pages */
    .page-intro{
        height: 250px;
        width: 100%;
        margin: 20px 10px 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .page-avatar{
        height: auto;
        width: 250px;
        border-radius: 10px;
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: 0.7;
        z-index: -99;
    }
    
    .page-stage{
        position:absolute;
        bottom: 16px;
        right: 16px;
        z-index: -99;
    }
    
  }

  /* Large Screen */
  @media only screen and (max-width: 849px) and (min-width: 730px) {

    main p{
        width: 45%;
    }

    .story{
        height: 350px;
        width: auto;
        margin: 10px 5px 0 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: flex-start;
        text-align:left;
    }    

    .index-flex{
        margin-top: -30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-end;
        text-align: center;
    }

    .avatar-flex-item{
        display: flex;
        flex-direction: column;
    }

    .avatar-title{
        display: none;
    }

    .avatar-title-hidden{
        margin-top: 3%;
        width: auto;
        display:flex;

    }
    
    .avatar{
        height: 190px;
        width: 190px;
        border-radius: 10px;
        box-shadow:  0 7px 10px 2px rgba(0, 0, 0, 0.8);
    }

        /* Alternate Page CSS */
.page-intro{
    height: 350px;
    width: 100%;
    margin: 20px 10px 0 10px;
    display: flex;
    flex-flow:row wrap;
    align-content: space-around;
    align-items: flex-start;
}


.page-avatar{
    height: auto;
    width: 200px;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.7;
    z-index: -99;
}

.page-stage{
    position:absolute;
    bottom: 16px;
    right: 16px;
}

  }

  /* Almost Medium Screen */
  @media only screen and (max-width: 730px) and (min-width:580px ){

    main p{
        width: 100%;
    }

    .story{
        height: 300px;
        width: auto;
        margin: 10px 20px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align:center;
    }    

    .index-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
        text-align: center;
    }

    .avatar-flex-item{
        display: flex;
        flex-direction: column;
    }

    .avatar-title{
        display: none;
    }

    .avatar-title-hidden{
        margin-top: 3%;
        width: auto;
        display:flex;        
    }
    
    .avatar{
        height: 150px;
        width: 150px;
        border-radius: 10px;
        box-shadow:  0 7px 10px 2px rgba(0, 0, 0, 0.8);
    }

            /* Alternate Page CSS */

.page-intro{
    height: 400px;
    width: 90%;
    margin: 0 10px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}


.page-avatar{
    height: auto;
    width: 200px;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.3;
    z-index: -99;
}

.page-stage{
    position:absolute;
    bottom: 16px;
    right: 16px;
}

  }
 
  /* Medium Screen */
@media only screen and (max-width: 579px) and (min-width: 460px){
    main p{
        width: 100%;
    }

    .story{
        height: 400px;
        width: auto;
        margin: 10px 20px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align:center;
    }    

    .index-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
        text-align: center;
    }

    .avatar-flex-item{
        display: flex;
        flex-direction: column;
    }

    .avatar-title{
        display: none;
    }

    .avatar-title-hidden{
        margin-top: 3%;
        width: auto;
        display:flex;        
    }
    
    .avatar{
        height: 130px;
        width: 130px;
        border-radius: 10px;
        box-shadow:  0 7px 10px 2px rgba(0, 0, 0, 0.8);
    }

    
            /* Alternate Page CSS */

.page-intro{
    height: 430px;
    width: 90%;
    margin: 0 10px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}


.page-avatar{
    height: auto;
    width: 200px;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.3;
    z-index: -99;
}

.page-stage{
    position:absolute;
    bottom: 16px;
    right: 16px;
}

  }   
    /* Almost Small Screen */
  @media only screen and (max-width: 459px) and (min-width: 420px){
    main p{
        width: 100%;
    }

    .story{
        height: 400px;
        width: auto;
        margin: 10px 20px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align:center;
    }    

    .index-flex{
        margin-top: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .avatar-flex-item{
        margin-top: 7%;
        display: flex;
        flex-direction: column;
    }

    .avatar-title{
        display: none;
    }

    .avatar-title-hidden{
        margin-top: 3%;
        width: auto;
        display:flex;
        margin-left: 9%;
    }
    
    .avatar{
        height: 250px;
        width: 250px;
        border-radius: 10px;
        box-shadow:  0 7px 10px 2px rgba(0, 0, 0, 0.8);
    }

    
            /* Alternate Page CSS */

.page-intro{
    height: 450px;
    width: 90%;
    margin: 0 10px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}


.page-avatar{
    height: auto;
    width: 200px;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.3;
    z-index: -99;
}

.page-stage{
    position:absolute;
    bottom: 16px;
    right: 16px;
}
  }
  
  /* Small Screen */
  @media only screen and (max-width: 419px) and (min-width: 300px){
    main p{
        width: 100%;
    }

    .story{
        height: 450px;
        width: auto;
        margin: 10px 20px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align:center;
    }    

    .index-flex{
        margin-top: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .avatar-flex-item{
        margin-top: 7%;
        display: flex;
        flex-direction: column;
    }

    .avatar-title{
        display: none;
    }

    .avatar-title-hidden{
        margin-top: 3%;
        width: auto;
        display:flex;
        margin-left: 9%;
    }
    
    .avatar{
        height: 180px;
        width: 180px;
        border-radius: 10px;
        box-shadow:  0 7px 10px 2px rgba(0, 0, 0, 0.8);
    }

              /* Alternate Page CSS */

.page-intro{
    height: 500px;
    width: 90%;
    margin: 0 10px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}


.page-avatar{
    height: auto;
    width: 200px;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.3;
    z-index: -99;
}

.page-stage{
    position:absolute;
    bottom: 16px;
    right: 16px;
}
  }   

